@inherits LayoutComponentBase

<Layout>
    <LayoutSider Background="Background.Dark">
        <Sidebar Background="Background.Dark" ThemeContrast="ThemeContrast.Dark" Visible>
            <SidebarContent>
                <NavMenu />
            </SidebarContent>
        </Sidebar>
    </LayoutSider>
    <Layout>
        <LayoutHeader Class="bg-dark text-white px-4">
            <h1 class="logo">CryptoTracker</h1>
        </LayoutHeader>
        <LayoutContent Class="p-4">
            @Body
        </LayoutContent>
    </Layout>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
