@inherits LayoutComponentBase
@using Radzen

<RadzenLayout Style="min-height:100vh">
    <RadzenSidebar @bind-Expanded="sidebarExpanded" Style="width:250px">
        <NavMenu />
    </RadzenSidebar>

    <RadzenHeader>
        <RadzenSidebarToggle Click="ToggleSidebar" />
        <h1 class="ms-2">CryptoTracker</h1>
    </RadzenHeader>

    <RadzenBody>
        <div class="p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool sidebarExpanded = true;

    void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}
