@page "/import"
@using CryptoTracker.Shared
@inject HttpClient HttpClient

<PageTitle>Import</PageTitle>

<h1>Import</h1>

@foreach (ImportDocumentType documentType in Enum.GetValues(typeof(ImportDocumentType)))
{
    <h5 class="mt-3">@documentType.GetDisplayName()</h5>
    <div class="row">
        <div class="col-md-4">
            <InputFile @key="InputFileIdDictionary[documentType]" OnChange="@(e => HandleFileSelected(documentType, e))" />
        </div>

        <div class="col-md-4">
            <select class="form-select" @bind="WalletNameDictionary[documentType]">
                <option value="">Wallet wählen</option>
                @foreach (var w in Wallets)
                {
                    <option value="@w.Name">@w.Name</option>
                }
            </select>
        </div>
    </div>

    <button class="btn btn-primary mt-2" @onclick="(() => UploadDocument(documentType))">Importieren</button>
}

<h5 class="mt-3">Transaktionspaar zusammenfinden</h5>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" @onclick="ProcessTransactionPairs">Process Transactions</button>
    </div>
</div>

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}