@page "/import"
@using CryptoTracker.Shared
@inject IWalletApi WalletApi
@inject IDataImportApi DataImportApi

<PageTitle>Import</PageTitle>

<h1>Import</h1>

@foreach (ImportDocumentType documentType in Enum.GetValues(typeof(ImportDocumentType)))
{
    <h5 class="mt-3">@documentType.GetDisplayName()</h5>
    <div class="row">
        <div class="col-md-4">
            <InputFile @key="InputFileIdDictionary[documentType]" OnChange="@(e => HandleFileSelected(documentType, e))" />
        </div>

        <div class="col-md-4">
            <RadzenDropDown Style="width:100%" Data="@Wallets" TextProperty="Name" ValueProperty="Name" @bind-Value="WalletNameDictionary[documentType]" Placeholder="Wallet wählen" />
        </div>
    </div>

    <RadzenButton Class="mt-2" Text="Importieren" Click="(() => UploadDocument(documentType))" />
}

<h5 class="mt-3">Transaktionspaar zusammenfinden</h5>

<div class="row">
    <div class="col-md-4">
        <RadzenButton Text="Process Transactions" Click="ProcessTransactionPairs" />
    </div>
</div>

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}