<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CryptoTracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Überblick
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Import
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/binance-deposit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binance Deposit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/binance-withdrawal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binance Withdrawal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/binance-trade">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Binance Trade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/bitcoinde-transactions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bitcoin.de Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/bitpanda-transactions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bitpanda Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/metamask-transactions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metamask Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/metamask-trades">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metamask Trades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/okx-deposit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Okx Deposit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import/okx-trade">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Okx Trade
            </NavLink>
        </div>
    </nav>
</div>

